{% extends "base.html" %}

{% block body %}
<link rel="stylesheet" href="{{ static_url('css/page.css') }}" type="text/css">
<div class="header">
    <a href="/">
        <div class="appTitle">
            <h3>Pocket Budget</h3>
            <p>tracker</p>
        </div>
    </a>
    <div style="float:right">
        <a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
        <br>
        <a href="/settings">Settings</a>
    </div>
</div>
<div class="mainbody">{% block content %}{% end %}</div>
{% end %}