<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>{% block title %}Budget Summary{% end %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
  </head>
  <body style="padding: 35px;">
    <h3>Hello {{ user }}, this is your budget</h3>
    <table class="ui table">
        <caption>Budget table</caption>
        <tr>
            <th>Number</th>
            <th>Category</th>
            <th>Date</th>
            <th>Title</th>
            <th>Amount</th>
        </tr>
        {% for budget in budgets %}
            {% block budget %}
                <tr>
                    <td>{{ budget.id }}</td>
                    <td>{{ budget.category }}</td>
                    <td>{{ budget.date }}</td>
                    <td>{{ budget.title }}</td>
                    <td>{{ str(budget.amount) + ' ' + budget.currency}}</td>
                </tr>
            {% end %}
        {% end %}
    </table>
  </body>
</html>