{% extends "base.html" %}

{% block body %}
  <div style="padding: 35px;">
      <h3>Hello {{ current_user.username }}, this is your budget</h3>
      {% for category in current_user.categories %}
        <table class="ui table">
            <caption>{{category.name}}</caption>
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>Title</th>
                <th>Amount</th>
            </tr>
            {% set i = 1 %}
            {% for budget in category.budgets %}
                {% block budget %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ budget.date }}</td>
                        <td>{{ budget.title }}</td>
                        <td>{{ str(budget.amount) + ' ' + budget.currency}}</td>
                    </tr>
                {% end %}
                {% set i += 1 %}
            {% end %}
        </table>
      {% end %}
  </div>
  <div>
      <form action="/budget" method="POST">
          Category: <input name="category" type="text"><br>
          Title: <input name="title" type="text"><br>
          Amount: <input name="amount" type="text"><br>
          {% module xsrf_form_html() %}
          <input type="submit">
     </form>
  </div>
{% end %}