{% extends "base.html" %}

{% block body %}
<link rel="stylesheet" href="{{ static_url('css/login.css') }}" type="text/css">
<div class="box">
    <div class="column">
        <div class="appTitle">
            <h1>Pocket Budget</h1>
            <h2>tracker</h2>
        </div>
        {% if error %}
        <div class="errorBox">
            <label> {{ error }} </label>
        </div>
        {% end %}
    </div>
    <div class="panelBox">
        <h3>Login to continue</h3>
        <form action="/auth/login" method="POST">
            <div class="inputBox">
                <input type="text" name="email" required="" autocomplete="off">
                <label>email address</label>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required="">
                <label>password</label>
            </div>
            {% module xsrf_form_html() %}
            <input type="submit" name="" value="Sign in">
        </form>
        <div class="signup_ref">
            <a href="/auth/create">Don't have an account?</a>
        </div>
    </div>
</div>
{% end %}
