{% extends "base.html" %}

{% block content %}
<div class="pbt-login-box flex-column">
    <div class="appTitle text-center mb-2">
      <h1>Pocket Budget</h1>
      <h2>tracker</h2>
    </div>
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% end %}
    <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">{{ _("Login to continue") }}</h5>
      {% include "forms/login.html" %}
    </div>
    </div>
    <div class="alert alert-primary text-center mt-1" role="alert" style="background: transparent;">
      <a href="/auth/create" class="alert-link">{{ _("Create new account") }}</a>
    </div>
    </div>
{% end %}
