<table class="table table-sm table-bordered table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% set i = 1 %}
        {% for budget in category.budgets %}
        <tr>
            <td col-type="num">{{ i }}</td>
            <td col-type="date">{{ budget.date }}</td>
            <td col-type="title">{{ budget.title }}</td>
            <td class="text-right" col-type="amount" currency={{ budget.currency }}>{{ str(budget.amount) }}</td>
        </tr>
        {% set i += 1 %}
        {% end %}
    </tbody>
    <tfoot>
        <tr class="text-right">
            <th colspan="3" scope="row">Total:</th>
            <td currency={{ category.total_currency() }}>{{ category.sum() }}</td>
        </tr>
    </tfoot>
</table>
