.box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.appTitle {
    position: relative;
    margin-bottom: 10%;
    text-align: center;
    letter-spacing: 3px;
}

.appTitle h2 {
    margin-top: -25px;
}

.panelBox, .errorBox {
    width: 300px;
    padding: 30px;
    box-sizing: padding-box;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.errorBox {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 20px;
    text-align: center;
}

.panelBox h2 {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
}

.panelBox .inputBox {
    position: relative;
}

.inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 22px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    background: transparent;
}

.inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 22px;
    color: #717172;
    letter-spacing: 1px;
    pointer-events: none;
    transition: .4s;
    -webkit-transition: top .4s;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
    top: -24px;
    left: 0;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup_ref a {
    font-size: 16px;
    position: absolute;
    bottom: -40px;
    right: 16px;
}