.panelBox {
    box-sizing: padding-box;
    padding: 1rem 2rem;
}

.errorBox {
    box-sizing: padding-box;
    padding: 0.5rem 1rem;
    border-style: solid;
    border-width: 1px;
    font-size: 1rem;
    text-align: center;
}

.panelBox h3 {
    text-align: center;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.panelBox input[type="submit"] {
    width: 100%;
}

.signup_ref {
    font-size: 0.9rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen
 and (max-device-width: 600px)
 and (orientation: portrait) {
     .appTitle {
         margin-bottom: 2rem;
     }

    .signup_ref {
        position: relative;
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }

}

/* Medium devices (landscape tablets and phones, 400px and up) */
@media only screen
 and (min-device-width: 400px)
 and (max-device-width: 900px)
 and (orientation: landscape) {
    .appTitle {
        margin-top: 2rem;
    }

    .signup_ref {
        position: relative;
        width: 100%;
        margin-top: 0.5rem;
        text-align: center;
    }
}

/* iPad Pro 10 */
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2)
  {
    .panelBox, .errorBox {
        margin: 0.5rem 1rem;
        border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
    }
    .signup_ref {
        margin-top: 1rem;
        text-align: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-device-width: 1200px) {
    .panelBox, .errorBox {
        margin: 1rem;
        border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
    }

    .signup_ref {
        position: absolute;
        right: 1rem;
        bottom: -0.5rem;
    }
}
