.box {
    position: relative;
    width: 640px;
    top: 0;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, 0%);
    /* border: 1px solid blue; */
}

.box .title {
    box-sizing: inherit;
    text-align: left;
    font-size: 24pt;
    padding-bottom: 10px;
    margin-bottom: 20px;
    /* border: 1px solid green; */
}

.mainbody,
.header {
    padding: 5px;
}

.mainbody {
    margin-top: 0;
    min-height: 150px;
    overflow: auto;
    /* border: 1px solid red; */
}

.header {
    box-sizing: content-box;
}

.header .appTitle {
    display: inline-block;
    cursor: pointer;
    /* border: 1px solid blue; */
}

.appTitle h3 {
    margin: 5px 10px;
}

.appTitle p {
    margin: 0;
    text-align: center;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: inherit;
    /* border: 1px solid blue; */
}

.section label {
    font-size: 16pt;
    text-align: left;
    margin-bottom: 10px;
}

.section .content {
    margin-top: 10px;
}

.section input[type="submit"] {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: -10px;
}