/* Basic table setup */
.ui_table {
    font: 1em sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
}

.ui_table caption {
    padding-top: 20px;
    font-size: 18px;
}

/* All <td>s within a <table> and all <th>s within a <table>
   Comma is not a combinator, it just allows you to target
   several selectors with the same CSS ruleset */
.ui_table td, table th {
    padding: 0.5em 0.5em 0.4em;
}

/* All <td>s preceded by another <td>,
   within a <tbody>, within a <table> */
.ui_table tbody td+td {
    text-align: center;
}

/* All <td>s that are a last child,
   within a <tbody>, within a <table> */
.ui_table tbody td:last-child {
    text-align: right
}

/* All <th>s, within a <tfoot>s, within a <table> */
.ui_table tfoot th {
    text-align: right;
    border-top-width: 5px;
    border-left: none;
    border-bottom: none;
}

/* All <td>s preceded by a <th>, within a <table> */
.ui_table th+td {
    text-align: right;
    border-top-width: 5px;
}

/* All pseudo-elements "before" <td>s that are a last child,
   appearing within elements with a class of "with-currency" that
   also have an attribute "lang" with the value "en-US" */
.ui_table td[currency="USD"]:last-child::before {
    content: '$ ';
}

.ui_table td[currency="EUR"]:last-child::before {
    content: '€ ';
}

.ui_table td[currency="UAH"]:last-child::before {
    content: '₴ ';
}